.ProductoDetalle-detalle .main-container-detalle {
  margin-top: 30px;
  width: 350px;
  align-items: center;
  flex-direction: column;
  display: flex;
}
.ProductoDetalle-detalle .main-container-detalle .card-container-detalle .product-card-detalle img {
  width: 280px;
  height: 280px;
  border-radius: 20px;
  object-fit: cover;
}
.ProductoDetalle-detalle .main-container-detalle .card-container-detalle .product-card-detalle div p:nth-child(1) {
  font-weight: bold;
  font-size: 18px;
}
.ProductoDetalle-detalle .main-container-detalle .card-container-detalle .product-card-detalle div p:nth-child(2) {
  font-size: 20px;
}
.ProductoDetalle-detalle .descripcionDetalle {
  width: 80%;
  text-align: justify;
}
