.ProductoDetalle-detalle{
    .main-container-detalle{
        margin-top: 30px;
        width: 350px;
        align-items: center;
        flex-direction: column;
        display: flex;
        .card-container-detalle{    
            .product-card-detalle{
                img{
                    width: 280px;
                    height: 280px;
                    border-radius: 20px;
                    object-fit: cover;
                }
                .product-info-detalle{
                }
                div p:nth-child(1){
                    font-weight: bold;
                    font-size: 18px;
                }
                div p:nth-child(2){
                    font-size: 20px;
                }
            }   
        }
    }
    .descripcionDetalle{
        width: 80%;
        text-align: justify;
    }
}