.carrito {
    position: relative;
}
.menu_compras {
    position: absolute;
    top: 0;
    background: #034732;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 2px;
}
