.main-container .card-container .product-card {
  width: 240px;
}
.main-container .card-container .product-card img {
  width: 240px;
  height: 240px;
  border-radius: 20px;
  object-fit: cover;
}
.main-container .card-container .product-card .product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-container .card-container .product-card .product-info figure {
  margin: 0px;
  position: relative;
}
.main-container .card-container .product-card .product-info figure .badge {
  position: absolute;
  top: 0;
  background: #034732;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 2px;
}
.main-container .card-container .product-card .product-info figure img {
  width: 50px;
  height: 50px;
  border-radius: 15px;
}
.main-container .card-container .product-card .product-info div p:nth-child(1) {
  font-weight: bold;
  font-size: 18px;
}
.main-container .card-container .product-card .product-info div p:nth-child(2) {
  font-size: 20px;
}
.main-container .card-container .product-card .botones {
  display: flex;
  width: 100%;
  justify-content: center;
}
.main-container .card-container .product-card .botones button {
  background-color: #3bb44b;
  color: #034732;
  height: 25px;
  border-radius: 20px;
  box-shadow: none;
  border-color: #74AC72;
  font-size: 20px;
  padding-top: 0px;
  font-weight: 500;
  width: 35%;
  margin-left: 10px;
  align-self: center;
  justify-content: center;
}
.main-container .card-container .product-card .contenedor-boton {
  width: 100%;
  display: flex;
  justify-content: center;
}
.main-container .card-container .product-card .contenedor-boton .agregar {
  background-color: #3bb44b;
  color: #034732;
  height: 25px;
  border-radius: 20px;
  box-shadow: none;
  border-color: #74AC72;
  font-size: 16px;
  font-weight: 500;
  width: 85%;
  margin-top: 5px;
}
