.checkoutCarrito {
  background: rgba(32, 35, 41, 0.8);
  position: fixed;
  width: 50%;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-left: 51%;
}
table {
  width: 80%;
  text-align: center;
  align-items: center;
  justify-content: center;
}
form {
  display: flex;
  flex-direction: column;
  bottom: 40px;
  position: absolute;
}
